## Crassification Iris
　　　From SIGNATE　【練習問題】アヤメの分類

In [1]:
# 基本ライブラリの読み込み
import numpy as np
import pandas as pd

### trainデータ

In [2]:
# train.tsvの読み込み
train_df = pd.read_csv("train.tsv", sep="\t")
train_df.head()

,id,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,0,5.3,3.7,1.5,0.2,Iris-setosa
1,1,6.8,2.8,4.8,1.4,Iris-versicolor
2,3,6.1,3.0,4.9,1.8,Iris-virginica
3,4,6.4,3.2,5.3,2.3,Iris-virginica
4,5,6.3,3.3,4.7,1.6,Iris-versicolor

In [3]:
# インデックスとy（目的変数）を説明変数から削除して、特徴量のみをtrainXに代入する
trainX = train_df.iloc[:, 1:-1]
trainX.head()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
0,5.3,3.7,1.5,0.2
1,6.8,2.8,4.8,1.4
2,6.1,3.0,4.9,1.8
3,6.4,3.2,5.3,2.3
4,6.3,3.3,4.7,1.6

In [4]:
# 行列の桁数確認
trainX.shape

(75, 4)

In [5]:
# 基礎統計量の確認
trainX.describe()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
count,75.000000,75.000000,75.000000,75.000000
mean,5.922667,3.097333,3.844000,1.220000
std,0.877277,0.443565,1.852116,0.787572
min,4.400000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.550000,0.200000
50%,5.900000,3.000000,4.400000,1.400000
75%,6.450000,3.350000,5.250000,1.800000
max,7.900000,4.200000,6.900000,2.500000

#### 統計量からわかること
- 特徴量は４つのみ (がく片の長さ、がく片の幅、花弁の長さ、花弁の幅)
- 特徴量の中では sepal width in cm (がく片の長さ)のバラつきが比較的小さい
- 特徴量の中では petal length in cm (花弁の長さ)のバラつきが比較的大きい

In [6]:
# データ型の確認
trainX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 4 columns):
sepal length in cm    75 non-null float64
sepal width in cm     75 non-null float64
petal length in cm    75 non-null float64
petal width in cm     75 non-null float64
dtypes: float64(4)
memory usage: 2.4 KB

すべて小数点型

In [7]:
# 欠損値の確認
trainX.isnull().sum()

sepal length in cm    0
sepal width in cm     0
petal length in cm    0
petal width in cm     0
dtype: int64

データに欠損値はないことを確認。

In [8]:
# trainデータの目的変数をyに代入する
y = train_df.iloc[:,[5]]
display(y.head())

             class
0      Iris-setosa
1  Iris-versicolor
2   Iris-virginica
3   Iris-virginica
4  Iris-versicolor

In [9]:
# 目的変数の正解ラベルを文字列から数値に変換
class_mapping_y = {'Iris-versicolor':1, 'Iris-virginica':2, 'Iris-setosa':3}
y = y.copy()

# loc関数で'class'列のみを選択して、変数class_mapping_yをmap関数で適用する
y.loc[:,'class'] = y['class'].map(class_mapping_y)

display(y.head())

   class
0      3
1      1
2      2
3      2
4      1

### testデータ

In [10]:
# test.tsvの読み込み
test_df = pd.read_csv("test.tsv", sep="\t")
test_df.head()

,id,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
0,2,6.1,2.8,4.7,1.2
1,7,6.3,2.5,4.9,1.5
2,8,6.2,3.4,5.4,2.3
3,10,6.7,3.1,4.7,1.5
4,13,5.0,3.4,1.6,0.4

In [11]:
# インデックスを説明変数から削除して、特徴量のみをtestXに代入する
testX = test_df.iloc[:, 1:]
testX.head()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
0,6.1,2.8,4.7,1.2
1,6.3,2.5,4.9,1.5
2,6.2,3.4,5.4,2.3
3,6.7,3.1,4.7,1.5
4,5.0,3.4,1.6,0.4

In [12]:
# 行列の桁数確認
testX.shape

(75, 4)

In [13]:
# 基礎統計量の確認
testX.describe()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
count,75.000000,75.000000,75.000000,75.000000
mean,5.764000,3.017333,3.672000,1.178667
std,0.773486,0.427239,1.682064,0.740762
min,4.300000,2.200000,1.100000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.700000,3.000000,4.300000,1.300000
75%,6.350000,3.300000,5.050000,1.800000
max,7.700000,4.400000,6.100000,2.500000

#### 統計量からわかること
- 特徴量は４つのみ (がく片の長さ、がく片の幅、花弁の長さ、花弁の幅)でtrainデータと同じ
- 特徴量の中では sepal width in cm (がく片の長さ)のバラつきが比較的小さい
- 特徴量の中では petal length in cm (花弁の長さ)のバラつきが比較的大きい

In [14]:
# データ型の確認
testX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 4 columns):
sepal length in cm    75 non-null float64
sepal width in cm     75 non-null float64
petal length in cm    75 non-null float64
petal width in cm     75 non-null float64
dtypes: float64(4)
memory usage: 2.4 KB

すべて小数点型

In [15]:
# 欠損値の確認
testX.isnull().sum()

sepal length in cm    0
sepal width in cm     0
petal length in cm    0
petal width in cm     0
dtype: int64

データに欠損値はないことを確認。

### trainデータの交差検証

In [16]:
# 交叉検証　Holdout法
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(trainX,
                                                 y,
                                                 test_size=0.30,
                                                 random_state=1)

In [17]:
# 整形
y_train = y_train.values.ravel()
y_test = y_test.values.ravel()

In [18]:
# ライブラリからアルゴリズムの読み込み
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.decomposition import PCA
from sklearn.svm import LinearSVC
from sklearn.neighbors import KNeighborsClassifier

# set pipelines for different algorithms
pipe_LR = Pipeline([('scl',StandardScaler()),
                       ('est',LogisticRegression(random_state=1))])
pipe_RF = Pipeline([('scl',StandardScaler()),
                        ('est',RandomForestClassifier(random_state=1))])
pipe_GB = Pipeline([('scl',StandardScaler()),
                        ('est',GradientBoostingClassifier(random_state=1))])
pipe_PCARF = Pipeline([('scl',StandardScaler()),
                          ('pca',PCA(random_state=1)),
                          ('est',RandomForestClassifier(random_state=1))])
pipe_PCAGB = Pipeline([('scl',StandardScaler()),
                          ('pca',PCA(random_state=1)),
                          ('est',GradientBoostingClassifier(random_state=1))])
pipe_SVC = Pipeline([('scl',StandardScaler()),
                          ('est',LinearSVC(random_state=1))])
pipe_KNC = Pipeline([('scl',StandardScaler()),
                          ('est',KNeighborsClassifier())])

In [19]:
# Pipelineの学習
pipe_LR.fit(X_train, y_train)
pipe_RF.fit(X_train, y_train)
pipe_GB.fit(X_train, y_train)
pipe_PCARF.fit(X_train, y_train)
pipe_PCAGB.fit(X_train, y_train)
pipe_SVC.fit(X_train, y_train)
pipe_KNC.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('scl', StandardScaler(copy=True, with_mean=True, with_std=True)), ('est', KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'))])

In [20]:
# 評価（accuracyスコアとする）
from sklearn.metrics import accuracy_score
print('pipe_LR_Train:%.3f'% accuracy_score(y_train,
                                          pipe_LR.predict(X_train)))
print('pipe_LR_Test:%.3f' % accuracy_score(y_test,
                                          pipe_LR.predict(X_test)))

print('pipe_RF_Train:%.3f'% accuracy_score(y_train,
                                          pipe_RF.predict(X_train)))
print('pipe_RF_Test:%.3f' % accuracy_score(y_test,
                                          pipe_RF.predict(X_test)))

print('pipe_GB_Train:%.3f'% accuracy_score(y_train,
                                          pipe_GB.predict(X_train)))
print('pipe_GB_Test:%.3f' % accuracy_score(y_test,
                                          pipe_GB.predict(X_test)))

print('pipe_PCARF_Train:%.3f'% accuracy_score(y_train,
                                          pipe_PCARF.predict(X_train)))
print('pipe_PCARF_Test:%.3f' % accuracy_score(y_test,
                                          pipe_PCARF.predict(X_test)))

print('pipe_PCAGB_Train:%.3f'% accuracy_score(y_train,
                                          pipe_PCAGB.predict(X_train)))
print('pipe_PCAGB_Test:%.3f' % accuracy_score(y_test,
                                          pipe_PCAGB.predict(X_test)))

print('pipe_SVC_Train:%.3f'% accuracy_score(y_train,
                                          pipe_SVC.predict(X_train)))
print('pipe_SVC_Test:%.3f' % accuracy_score(y_test,
                                          pipe_SVC.predict(X_test)))

print('pipe_KNC_Train:%.3f'% accuracy_score(y_train,
                                          pipe_KNC.predict(X_train)))
print('pipe_KNC_Test:%.3f' % accuracy_score(y_test,
                                          pipe_KNC.predict(X_test)))

pipe_LR_Train:0.865
pipe_LR_Test:0.826
pipe_RF_Train:0.981
pipe_RF_Test:0.870
pipe_GB_Train:1.000
pipe_GB_Test:0.913
pipe_PCARF_Train:1.000
pipe_PCARF_Test:1.000
pipe_PCAGB_Train:1.000
pipe_PCAGB_Test:0.957
pipe_SVC_Train:0.962
pipe_SVC_Test:0.957
pipe_KNC_Train:0.981
pipe_KNC_Test:0.957

pipe_PCARFを採用する

### パラメータチューニング

In [21]:
# パラメータグリッドの設定
from sklearn.model_selection import GridSearchCV

# paramG = {'n_estimators':[1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]}

param_grid_PCARF = {'pca__n_components':[2,3,4],
                    'est__n_estimators': [5, 10, 20, 30, 50, 100],
#                     'est__max_features': [2,3,4],
                    'est__random_state': [1],# 乱数のシードです。
                    'est__n_jobs': [-1],# 複数のCPUコアを使って並列に学習します。-1は最大値。
                    'est__min_samples_split' : [3, 5, 10, 15, 20, 25, 30, 40, 50, 100],
                    'est__max_depth' : [3, 5, 10, 15, 20, 25, 30]}

In [22]:
# GridSearchCVの設定
print('探索空間:%s' %param_grid_PCARF)
clf = GridSearchCV(estimator=pipe_PCARF,# 対象の機械学習モデル
                   param_grid=param_grid_PCARF,# 探索パラメータ辞書
                   scoring='accuracy',
                   cv=3,# クロスバリデーションの分割数
                   return_train_score=False)

探索空間:{'pca__n_components': [2, 3, 4], 'est__n_estimators': [5, 10, 20, 30, 50, 100], 'est__random_state': [1], 'est__n_jobs': [-1], 'est__min_samples_split': [3, 5, 10, 15, 20, 25, 30, 40, 50, 100], 'est__max_depth': [3, 5, 10, 15, 20, 25, 30]}

In [23]:
# 学習
clf = clf.fit(X_train, y_train)
print('Best Score:', clf.best_score_)
print('Best Params', clf.best_params_)

Best Score: 0.8846153846153846
Best Params {'est__max_depth': 3, 'est__min_samples_split': 3, 'est__n_estimators': 50, 'est__n_jobs': -1, 'est__random_state': 1, 'pca__n_components': 2}

In [24]:
# 変数predに予測値を代入
pred = pipe_RF.predict(testX)
pred

array([1, 1, 2, 1, 3, 3, 2, 1, 3, 2, 1, 3, 3, 2, 1, 2, 1, 2, 2, 1, 2, 3,
       1, 3, 3, 1, 1, 2, 3, 3, 2, 3, 2, 1, 1, 1, 1, 3, 1, 2, 2, 1, 3, 3,
       1, 1, 3, 3, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 3, 3, 3, 2,
       2, 3, 1, 3, 1, 3, 1, 2, 3], dtype=int64)

### 提出用CSVの作成

In [25]:
# 提出用CSVの読み込み
sample = pd.read_csv("sample_submit.csv",header=None)
sample.head()

    0                1
0   2      Iris-setosa
1   7  Iris-versicolor
2   8   Iris-virginica
3  10      Iris-setosa
4  13  Iris-versicolor

In [26]:
# array形で格納されているpredをDataFrame型に変換
pred_df = pd.DataFrame(pred)
pred_df.head()

   0
0  1
1  1
2  2
3  1
4  3

In [27]:
# 数値を文字列に変換
# 提出用データはIrisの品種名でデータを入力する必要があるため数値から文字列に変換する。
# 正解ラベルの数値数値変換
class_mapping_y2 = {1:'Iris-versicolor', 2:'Iris-virginica', 3:'Iris-setosa'}
pred_df = pred_df.copy()

# loc関数で'0'列のみを選択して、変数class_mappingをmap関数で適用する
pred_df.iloc[:,0] = pred_df[0].map(class_mapping_y2)

display(pred_df.head())

                 0
0  Iris-versicolor
1  Iris-versicolor
2   Iris-virginica
3  Iris-versicolor
4      Iris-setosa

In [28]:
# 提出用csvの正解カラム'1'にpredを代入
sample[1] = pred_df
sample.head()

    0                1
0   2  Iris-versicolor
1   7  Iris-versicolor
2   8   Iris-virginica
3  10  Iris-versicolor
4  13      Iris-setosa

In [29]:
# 提出用データをcsv形式で出力
sample.to_csv("submit.csv",index=None,header=None)