## Crassification Car
　　　From SIGNATE　【練習問題】自動車の評価

In [1]:
# 基本ライブラリの読み込み
import numpy as np
import pandas as pd

### trainデータ

In [2]:
# train.tsvの読み込み
train_df = pd.read_csv("train.tsv", sep="\t")
train_df.head()

   id  class buying maint  doors persons lug_boot safety
0   0  unacc    low   med      3       2    small    low
1   3    acc    low  high      3    more    small    med
2   7  unacc  vhigh  high  5more       2    small    med
3  11    acc   high  high      3    more      big    med
4  12  unacc   high  high      3       2      med   high

In [3]:
# インデックスとy（目的変数）を説明変数から削除して、特徴量のみをtrainXに代入する
trainX = train_df.iloc[:, 2:]
trainX.head()

  buying maint  doors persons lug_boot safety
0    low   med      3       2    small    low
1    low  high      3    more    small    med
2  vhigh  high  5more       2    small    med
3   high  high      3    more      big    med
4   high  high      3       2      med   high

In [4]:
# 行列の桁数確認
trainX.shape

(864, 6)

In [5]:
# 基礎統計量の確認
trainX.describe()

       buying maint doors persons lug_boot safety
count     864   864   864     864      864    864
unique      4     4     4       3        3      3
top       low  high     3    more      med   high
freq      226   227   238     299      299    291

In [6]:
# データ型の確認
trainX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 6 columns):
buying      864 non-null object
maint       864 non-null object
doors       864 non-null object
persons     864 non-null object
lug_boot    864 non-null object
safety      864 non-null object
dtypes: object(6)
memory usage: 40.6+ KB

In [7]:
# 欠損値の確認
trainX.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
dtype: int64

欠損値はなし

In [8]:
# trainデータの目的変数をyに代入する
y = train_df.iloc[:,[1]]
display(y.head())

   class
0  unacc
1    acc
2  unacc
3    acc
4  unacc

In [9]:
# カラムの種別個数を確認
y["class"].value_counts()

unacc    591
acc      206
good      34
vgood     33
Name: class, dtype: int64

In [10]:
# カラムの種別個数を確認
trainX["buying"].value_counts()

low      226
med      219
high     218
vhigh    201
Name: buying, dtype: int64

In [11]:
# カラムの種別個数を確認
trainX["maint"].value_counts()

high     227
vhigh    225
low      219
med      193
Name: maint, dtype: int64

In [12]:
# カラムの種別個数を確認
trainX["doors"].value_counts()

3        238
4        220
5more    208
2        198
Name: doors, dtype: int64

In [13]:
# カラムの種別個数を確認
trainX["persons"].value_counts()

more    299
2       284
4       281
Name: persons, dtype: int64

In [14]:
# カラムの種別個数を確認
trainX["lug_boot"].value_counts()

med      299
big      285
small    280
Name: lug_boot, dtype: int64

In [15]:
# カラムの種別個数を確認
trainX["safety"].value_counts()

high    291
med     289
low     284
Name: safety, dtype: int64

In [16]:
# オブジェクト型の特徴量を数値型に変換
class_mapping_cls = {"unacc":0 ,"acc":1 ,"good":2 ,"vgood":3}
class_mapping_byg = {"low":0 ,"med":1 ,"high":2 ,"vhigh":3} 
class_mapping_mat = {"low":0 ,"med":1 ,"high":2 ,"vhigh":3} 
class_mapping_drs = {"2":0 ,"3":1 ,"4":2 ,"5more":3} 
class_mapping_pss = {"2":0 ,"4":1 , "more":2} 
class_mapping_lgb = {"small":0 ,"med":1 , "big":2} 
class_mapping_sft = {"low":0 ,"med":1 , "high":2} 

trainX = trainX.copy() # .copy()しないとエラーになるので注意
y = y.copy()

# loc関数で'該当'列のみを選択して、変数class_mappingをmap関数で適用する
y.loc[:,"class"] = y["class"].map(class_mapping_cls)
trainX.loc[:,"buying"] = trainX["buying"].map(class_mapping_byg)
trainX.loc[:,"maint"] = trainX["maint"].map(class_mapping_mat)
trainX.loc[:,"doors"] = trainX["doors"].map(class_mapping_drs)
trainX.loc[:,"persons"] = trainX["persons"].map(class_mapping_pss)
trainX.loc[:,"lug_boot"] = trainX["lug_boot"].map(class_mapping_lgb)
trainX.loc[:,"safety"] = trainX["safety"].map(class_mapping_sft)

In [17]:
display(trainX.head())

   buying  maint  doors  persons  lug_boot  safety
0       0      1      1        0         0       0
1       0      2      1        2         0       1
2       3      2      3        0         0       1
3       2      2      1        2         2       1
4       2      2      1        0         1       2

In [18]:
display(y.head())

   class
0      0
1      1
2      0
3      1
4      0

In [19]:
# 欠損値の確認
trainX.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
dtype: int64

欠損値なしを確認。

==========================================================================================================================

### testデータ

In [20]:
# test.tsvの読み込み
test_df = pd.read_csv("test.tsv", sep="\t")
test_df.head()

   id buying  maint  doors persons lug_boot safety
0   1   high  vhigh      2    more      big    low
1   2  vhigh  vhigh  5more       4    small   high
2   4    med   high      2       2    small    low
3   5    med    med      4       4      big    med
4   6   high   high      2       4      med    low

In [21]:
# インデックスを説明変数から削除して、特徴量のみをtestXに代入する
testX = test_df.iloc[:, 1:]
testX.head()

  buying  maint  doors persons lug_boot safety
0   high  vhigh      2    more      big    low
1  vhigh  vhigh  5more       4    small   high
2    med   high      2       2    small    low
3    med    med      4       4      big    med
4   high   high      2       4      med    low

In [22]:
# 行列の桁数確認
testX.shape

(864, 6)

In [23]:
# 基礎統計量の確認
testX.describe()

       buying maint doors persons lug_boot safety
count     864   864   864     864      864    864
unique      4     4     4       3        3      3
top     vhigh   med     2       4    small    low
freq      231   239   234     295      296    292

In [24]:
# データ型の確認
testX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 6 columns):
buying      864 non-null object
maint       864 non-null object
doors       864 non-null object
persons     864 non-null object
lug_boot    864 non-null object
safety      864 non-null object
dtypes: object(6)
memory usage: 40.6+ KB

In [25]:
# 欠損値の確認
testX.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
dtype: int64

欠損値なしを確認。

In [26]:
testX = testX.copy()

# loc関数で'該当'列のみを選択して、変数class_mappingをmap関数で適用する
testX.loc[:,"buying"] = testX["buying"].map(class_mapping_byg)
testX.loc[:,"maint"] = testX["maint"].map(class_mapping_mat)
testX.loc[:,"doors"] = testX["doors"].map(class_mapping_drs)
testX.loc[:,"persons"] = testX["persons"].map(class_mapping_pss)
testX.loc[:,"lug_boot"] = testX["lug_boot"].map(class_mapping_lgb)
testX.loc[:,"safety"] = testX["safety"].map(class_mapping_sft)

testX.head()

   buying  maint  doors  persons  lug_boot  safety
0       2      3      0        2         2       0
1       3      3      3        1         0       2
2       1      2      0        0         0       0
3       1      1      2        1         2       1
4       2      2      0        1         1       0

In [27]:
# 欠損値の確認
testX.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
dtype: int64

欠損値なしを確認。

==========================================================================================================================

### trainデータの交差検証

In [28]:
# 交叉検証　Holdout法
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(trainX,
                                                 y,
                                                 test_size=0.25,
                                                 random_state=1)

In [29]:
# 整形
y_train = y_train.values.ravel()
y_test = y_test.values.ravel()

In [30]:
# ライブラリからアルゴリズムの読み込み
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.decomposition import PCA
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

# set pipelines for different algorithms
pipe_LR = Pipeline([('scl',StandardScaler()),
                       ('est',LogisticRegression(random_state=1))])
pipe_RF = Pipeline([('scl',StandardScaler()),
                        ('est',RandomForestClassifier(random_state=1))])
pipe_GB = Pipeline([('scl',StandardScaler()),
                        ('est',GradientBoostingClassifier(random_state=1))])
pipe_PCARF = Pipeline([('scl',StandardScaler()),
                          ('pca',PCA(random_state=1)),
                          ('est',RandomForestClassifier(random_state=1))])
pipe_PCAGB = Pipeline([('scl',StandardScaler()),
                          ('pca',PCA(random_state=1)),
                          ('est',GradientBoostingClassifier(random_state=1))])
pipe_SVC = Pipeline([('scl',StandardScaler()),
                          ('est',SVC(random_state=1))])
pipe_LSVC = Pipeline([('scl',StandardScaler()),
                          ('est',LinearSVC(random_state=1))])
pipe_KNC = Pipeline([('scl',StandardScaler()),
                          ('est',KNeighborsClassifier())])
pipe_GNB = Pipeline([('scl',StandardScaler()),
                          ('est',GaussianNB())])
pipe_PER = Pipeline([('scl',StandardScaler()),
                          ('est',Perceptron(random_state=1))])
pipe_SGD = Pipeline([('scl',StandardScaler()),
                          ('est',SGDClassifier(random_state=1))])
pipe_DTC = Pipeline([('scl',StandardScaler()),
                          ('est',DecisionTreeClassifier(random_state=1))])

In [31]:
# Pipelineの学習
pipe_LR.fit(X_train, y_train)
pipe_RF.fit(X_train, y_train)
pipe_GB.fit(X_train, y_train)
pipe_PCARF.fit(X_train, y_train)
pipe_PCAGB.fit(X_train, y_train)
pipe_SVC.fit(X_train, y_train)
pipe_LSVC.fit(X_train, y_train)
pipe_KNC.fit(X_train, y_train)
pipe_GNB.fit(X_train, y_train)
pipe_PER.fit(X_train, y_train)
pipe_SGD.fit(X_train, y_train)
pipe_DTC.fit(X_train, y_train)

C:\Users\R6\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\Users\R6\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

Pipeline(memory=None,
     steps=[('scl', StandardScaler(copy=True, with_mean=True, with_std=True)), ('est', DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best'))])

In [32]:
# 評価（accuracyスコアとする）
from sklearn.metrics import accuracy_score

print('-'*40)
print('pipe_LR_Train:%.3f'% accuracy_score(y_train,
                                          pipe_LR.predict(X_train)))
print('pipe_LR_Test:%.3f' % accuracy_score(y_test,
                                          pipe_LR.predict(X_test)))
print('-'*40)
print('pipe_RF_Train:%.3f'% accuracy_score(y_train,
                                          pipe_RF.predict(X_train)))
print('pipe_RF_Test:%.3f' % accuracy_score(y_test,
                                          pipe_RF.predict(X_test)))
print('-'*40)
print('pipe_GB_Train:%.3f'% accuracy_score(y_train,
                                          pipe_GB.predict(X_train)))
print('pipe_GB_Test:%.3f' % accuracy_score(y_test,
                                          pipe_GB.predict(X_test)))
print('-'*40)
print('pipe_PCARF_Train:%.3f'% accuracy_score(y_train,
                                          pipe_PCARF.predict(X_train)))
print('pipe_PCARF_Test:%.3f' % accuracy_score(y_test,
                                          pipe_PCARF.predict(X_test)))
print('-'*40)
print('pipe_PCAGB_Train:%.3f'% accuracy_score(y_train,
                                          pipe_PCAGB.predict(X_train)))
print('pipe_PCAGB_Test:%.3f' % accuracy_score(y_test,
                                          pipe_PCAGB.predict(X_test)))
print('-'*40)
print('pipe_SVC_Train:%.3f'% accuracy_score(y_train,
                                          pipe_SVC.predict(X_train)))
print('pipe_SVC_Test:%.3f' % accuracy_score(y_test,
                                          pipe_SVC.predict(X_test)))
print('-'*40)
print('pipe_LSVC_Train:%.3f'% accuracy_score(y_train,
                                          pipe_LSVC.predict(X_train)))
print('pipe_LSVC_Test:%.3f' % accuracy_score(y_test,
                                          pipe_LSVC.predict(X_test)))
print('-'*40)
print('pipe_KNC_Train:%.3f'% accuracy_score(y_train,
                                          pipe_KNC.predict(X_train)))
print('pipe_KNC_Test:%.3f' % accuracy_score(y_test,
                                          pipe_KNC.predict(X_test)))
print('-'*40)
print('pipe_GNB_Train:%.3f'% accuracy_score(y_train,
                                          pipe_GNB.predict(X_train)))
print('pipe_GNB_Test:%.3f' % accuracy_score(y_test,
                                          pipe_GNB.predict(X_test)))
print('-'*40)
print('pipe_PER_Train:%.3f'% accuracy_score(y_train,
                                          pipe_PER.predict(X_train)))
print('pipe_PER_Test:%.3f' % accuracy_score(y_test,
                                          pipe_PER.predict(X_test)))
print('-'*40)
print('pipe_SGD_Train:%.3f'% accuracy_score(y_train,
                                          pipe_SGD.predict(X_train)))
print('pipe_SGD_Test:%.3f' % accuracy_score(y_test,
                                          pipe_SGD.predict(X_test)))
print('-'*40)
print('pipe_DTC_Train:%.3f'% accuracy_score(y_train,
                                          pipe_DTC.predict(X_train)))
print('pipe_DTC_Test:%.3f' % accuracy_score(y_test,
                                          pipe_DTC.predict(X_test)))
print('-'*40)

----------------------------------------
pipe_LR_Train:0.793
pipe_LR_Test:0.773
----------------------------------------
pipe_RF_Train:0.998
pipe_RF_Test:0.926
----------------------------------------
pipe_GB_Train:0.995
pipe_GB_Test:0.981
----------------------------------------
pipe_PCARF_Train:0.992
pipe_PCARF_Test:0.833
----------------------------------------
pipe_PCAGB_Train:1.000
pipe_PCAGB_Test:0.833
----------------------------------------
pipe_SVC_Train:0.957
pipe_SVC_Test:0.931
----------------------------------------
pipe_LSVC_Train:0.798
pipe_LSVC_Test:0.787
----------------------------------------
pipe_KNC_Train:0.966
pipe_KNC_Test:0.912
----------------------------------------
pipe_GNB_Train:0.704
pipe_GNB_Test:0.722
----------------------------------------
pipe_PER_Train:0.750
pipe_PER_Test:0.759
----------------------------------------
pipe_SGD_Train:0.730
pipe_SGD_Test:0.741
----------------------------------------
pipe_DTC_Train:1.000
pipe_DTC_Test:0.968
----------------------------------------

pipe_GBを採用する

==========================================================================================================================

### パラメータチューニング

In [33]:
# パラメータグリッドの設定
from sklearn.model_selection import GridSearchCV
param_grid_GB = {
    #                  'est__learning_rate':[0.001,0.01,0.1],
                 'est__n_estimators':[5,10,50,100,500], 
                 'est__max_depth':[1,2,3,4,5],
                 'est__min_samples_split':[0.1,0.3,0.5,0.7,0.9],
                 'est__min_samples_leaf':[1,2,4,6,8] }

# loss：最小化にするための費用関数　標準値deviance
# learning_rate：標準値0.1　結果に対する各ツリーの影響度を小さくする。↓に反比例。小さいほどロバスト性が高く良い
# n_estimators：標準値100　逐次的にフィットするためrのツリー数↑に対して交差検証から調整 
# max_depth：標準値設定なし　各ツリーの最大深さ　
# min_samples_split：標準値2　ノードとして必要な最小サンプル数
# min_samples_leaf：標準値1　リーフとして必要な最小サンプル数

In [34]:
print('探索空間:%s' %param_grid_GB)
clf = GridSearchCV(estimator=pipe_GB,
                   param_grid=param_grid_GB,
                   scoring='accuracy',
                   cv=3,
                   n_jobs=-1,
                   return_train_score=False)

探索空間:{'est__n_estimators': [5, 10, 50, 100, 500], 'est__max_depth': [1, 2, 3, 4, 5], 'est__min_samples_split': [0.1, 0.3, 0.5, 0.7, 0.9], 'est__min_samples_leaf': [1, 2, 4, 6, 8]}

In [35]:
clf = clf.fit(X_train, y_train)
print('Best Score:', clf.best_score_)
print('Best Params', clf.best_params_)

Best Score: 0.9490740740740741
Best Params {'est__max_depth': 3, 'est__min_samples_leaf': 1, 'est__min_samples_split': 0.3, 'est__n_estimators': 500}

In [36]:
pred = pipe_GB.predict(testX)
pred

array([0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0,
       1, 0, 0, 0, 0, 0, 1, 2, 0, 3, 1, 0, 0, 0, 1, 1, 0, 1, 2, 1, 0, 0,
       3, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 2, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 3, 0, 0, 0, 0, 2, 1, 0, 3, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 3, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 3, 3, 1, 2, 0, 0, 0, 3,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 3, 1, 0, 0, 0, 0, 0, 1, 0, 2,
       1, 0, 1, 0, 0, 3, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 3, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 2, 1, 0, 2, 2, 0,
       0, 0, 1, 0, 0, 3, 0, 0, 0, 0, 1, 3, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       2, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 2, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 3, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 3, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 3, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 3, 0, 1, 1, 0, 0, 1, 0, 2, 0, 0, 0,
       3, 2, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 3, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 3, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 3, 1, 0, 1, 3, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 2,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 3, 0, 0, 2, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 3, 0, 0, 0, 1, 0, 0, 2, 3, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 3, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 3, 2, 0, 0, 0, 0, 0, 0, 0, 1, 3, 1, 0, 0, 2, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 3, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 2, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 3, 0, 1, 0, 2, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0], dtype=int64)

==========================================================================================================================

### 提出用CSVの作成

In [37]:
# 提出用CSVの読み込み
sample = pd.read_csv("sample_submit.csv", header=None)
sample.head()

   0      1
0  1   good
1  2  vgood
2  4    acc
3  5    acc
4  6  unacc

In [38]:
# array形で格納されているpredをDataFrame型に変換
pred_df = pd.DataFrame(pred)
pred_df.head()

   0
0  0
1  0
2  0
3  1
4  0

In [39]:
# 数値を文字列に変換
# 提出用データは文字列でデータを入力する必要があるため数値から文字列に変換する。
# 正解ラベルの数値数値変換
class_mapping_cls2 = {0:"unacc", 1:"acc", 2:"good", 3:"vgood"}
pred_df = pred_df.copy()

# loc関数で'0'列のみを選択して、変数class_mappingをmap関数で適用する
pred_df.iloc[:,0] = pred_df[0].map(class_mapping_cls2)

display(pred_df.head())

       0
0  unacc
1  unacc
2  unacc
3    acc
4  unacc

In [40]:
# 提出用csvの正解カラム'1'にpredを代入
sample[1] = pred_df
sample.head()

   0      1
0  1  unacc
1  2  unacc
2  4  unacc
3  5    acc
4  6  unacc

In [41]:
# 提出用データをcsv形式で出力
sample.to_csv("submit3.csv",index=None,header=None)

==========================================================================================================================